{
	"env": {
		"browser": true
	},
	"extends": ["next", "airbnb", "airbnb/hooks", "prettier", "plugin:@typescript-eslint/recommended"],
	"rules": {
		"react/prop-types": "off",
	"react/require-default-props": "off",
  	"import/extensions": [
		"error",
		"always",
		{ "js": "never", "jsx": "never", "ts": "never", "tsx": "never" }
	],
	"import/prefer-default-export": "off",
	"jsx-a11y/anchor-has-content": "off",
	"jsx-a11y/anchor-is-valid": "off",
	"jsx-a11y/click-events-have-key-events": "off",
	"jsx-a11y/heading-has-content": "off",
	"jsx-a11y/href-no-hash": "off",
	"jsx-a11y/no-noninteractive-element-interactions": "off",
	"jsx-a11y/no-static-element-interactions": "off",
	"no-console": ["off"],
	"no-plusplus": "off",
	"react/no-danger": "off",
	"no-use-before-define": [
		"error",
		{ "functions": false, "classes": false, "variables": false }
	],
	"indent": ["error", 4],
	"react/jsx-props-no-spreading": "off",
	"react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
	"semi": "error",
	"quotes": ["error", "single"],
	"no-unused-vars": "off",
	"@typescript-eslint/no-unused-vars": "off",
	"no-param-reassign": ["off", { "props": true, "ignorePropertyModificationsForRegex": ["draft"] }],
	"import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
	"comma-dangle": ["error", "always-multiline"],
	"object-property-newline": "error",
	"function-paren-newline": "error",
	"no-restricted-globals": "off",
	"no-trailing-spaces": "error"
  },
  "parser": "@babel/eslint-parser"
}
